header {
    font-size: 32px;
    font-weight: 600;
    padding: 30px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    background-color: rgb(252, 200, 103);
    color: rgba(1, 1, 82, 0.904);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.first {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.pre {
    display: flex;
    flex-direction: column;
}

.pre.left {
    max-width: 25%;
}

.pre.buttons{
    flex-direction: row;
    width: 100%;
}
.pre.buttons > button {
    display: flex;
    flex-direction: row;
    background-color: rgba(252, 200, 103, 0.596);
    width: 100%;
    justify-content: center;
}

