header {
    font-size: 32px;
    font-weight: 600;
    padding: 30px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    background-color: rgb(252, 200, 103);
    color: rgba(1, 1, 82, 0.904);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.first, .main-second {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.pre {
    display: flex;
    flex-direction: column;
}

.pre.left {
    max-width: 30%;
    gap: 10px;
}

.pre.buttons{
    flex-direction: row;
    width: 100%;
    gap: 10px;
}
.pre.buttons > button {
    display: flex;
    flex-direction: row;
    background-color: rgba(252, 200, 103, 0.596);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding-left: 0;
}

.info-list li {
    border: 1px solid;
}

.ingredients {
    list-style-type: none;
    padding-left: 0;
}

.main-ingredient, .main-steps {
    display: flex;
    flex-direction: column;
}

.main-ingredient {
    width: 600px;
}

.main-steps {
    line-height: 1.5em;
}

.ingredients li {
    border-bottom: 1px solid gray;
}