header {
  font-size: 32px;
  font-weight: 600;
  padding: 30px;
  letter-spacing: 2px;
  background-color: rgb(252, 200, 103);
  color: rgba(1, 1, 82, 0.904);
}
.fas fa-utensils {
  color: red;
  font-size: 1.2em;
  position: relative;
  top: -0.1em;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
  h2, p {
  line-height: 20px;
}
h2 {
  color: rgba(1, 1, 82, 0.904);
}
p {
  color: black;
}
.options {
  margin-top: 15px;
  height: auto;
  display: flex;
  gap: 16px;
}

img {
  height: 200px;
  max-width: 200px;
}

.options > div {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.options > div:hover {
  background-color: #eee;
  padding: 30px;
  border: 2px solid #aaa;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  height: 40px;
}




